[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
psycopg2-binary = "*"
uvicorn = {extras = ["standard"], version = "*"}
alembic = "*"
pyjwt = "*"
email-validator = "*"
cryptography = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pytest = "*"
httpx = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
